{% extends 'layout/admin_layout.html.twig' %}

{% block page_title %}
    Dashboard
{% endblock %}

{% block main %}
    <a href="{{ path('admin_product_index') }}"> Manage Products</a>
{% endblock %}