-----BEGIN CERTIFICATE-----
MIIDEDCCAfigAwIBAgIJALMiMuZ0XzbaMA0GCSqGSIb3DQEBCwUAMB0xGzAZBgNV
BAMMEmRlbW8uc3ltZm9ueS5sb2NhbDAeFw0xODA2MDYxMDIwNTlaFw0yMTAzMjYx
MDIwNTlaMB0xGzAZBgNVBAMMEmRlbW8uc3ltZm9ueS5sb2NhbDCCASIwDQYJKoZI
hvcNAQEBBQADggEPADCCAQoCggEBANBxK17jgKil2Qq7WexOb0pQ0KPieURC+VS8
FS6Hm7hGJ16uiZepQVmV5rDmLm0khipstLylQORF+C4m30886BF3QpNcEeXOLzHY
M6Vu/LJ2WhnRWAkGU4LBafwyFvDPwkz4IwgEJb5VMloQeBrMlaOtSxGLhEkFn2fX
KecAGtn51xMJC+rQ7kJPLWDAruW7Mko1ieiAAJD4UbVg7+Yj45AlWbk4x9u1plxJ
zzTibMMIBecjPVyHvkaGb9cL9PToMrJw9Pf4LjEZ4FsRkzpmFd1w9IR8Et4Aijqf
sj10fqLLjt/BUR0vuVaQup5ObsAN5ae3rMQuPUgSUHdi4KmIRJMCAwEAAaNTMFEw
HQYDVR0OBBYEFAsDMS4fDkkQFSD885ifG7RqpCkAMB8GA1UdIwQYMBaAFAsDMS4f
DkkQFSD885ifG7RqpCkAMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQAD
ggEBAHMBBySi679GbgU+9Fyy5CPhpvD9AW8jJfWMQweHBsYG6125bdR8GZNLPruK
aJTvr/JiVBJh40Flc5cec5RyCt+runurtnzXXPDGbqI0ihjFNRd/rmip0OOBQjdp
nJylUZurhpk9FgVGpnL5IHCj3son5v/ZH8vvVDY4xMIW8gi4aQh8EfluHDiUuP/L
tduhxwi6CzAvj8JxGpJEanYnGrgGyqY/fOwYh9558fb/nSy6Y1DtJvQrL6e88zqV
iEhG70Ycvo8IYFr8k4k3a+RxQZ6fK02pOD7AXm0mVSolKNm6j2Kk2CESjD3wdnVM
YR7cW44r1RU1DMN8HMuAgJ89iWw=
-----END CERTIFICATE-----
